<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nail It.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F955E0E1DF85D2100EB46B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F955E281DF85D2200EB46B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F955E331DF85D2200EB46B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
